In [1]:
%pylab inline
%matplotlib inline
from sklearn import cross_validation
import pandas as pd
store = pd.HDFStore('store.h5')

Populating the interactive namespace from numpy and matplotlib

In [2]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5
/data                             frame        (shape->[1000,9443])
/feature_score                    series       (shape->[28329])
/feature_selected_data            frame        (shape->[1000,3243])
/gene_info                        frame        (shape->[300,9443])
/label                            frame        (shape->[1000,1])
/multilabel                       frame        (shape->[1000,10])
/onehot_data                      frame        (shape->[1000,28329])
/selected_idx                     series       (shape->[28329])

In [3]:
gene = store['gene_info'].applymap(lambda x:int(x))
feat_score = store['feature_score'].as_matrix()

In [4]:
gene.head()

,0,1,2,3,4,5,6,7,8,9,...,9433,9434,9435,9436,9437,9438,9439,9440,9441,9442
0,1,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# calculate gene score for each gene

In [5]:
print feat_score.shape
print gene.shape

(28329,)
(300, 9443)

In [6]:
weidian_s = zeros(gene.shape[1])
for i in range(gene.shape[1]):
    weidian_s[i]=feat_score[3*i]+feat_score[3*i+1]+feat_score[3*i+2]
weidian_s.shape

(9443,)

In [7]:
dweidian_s = pd.DataFrame(weidian_s)
dweidian_s.T.head()

,0,1,2,3,4,5,6,7,8,9,...,9433,9434,9435,9436,9437,9438,9439,9440,9441,9442
0,0,0.01,0,0,0,0,0,0,0,0,...,0,0,0,0.005,0,0,0,0.01,0.005,0

In [8]:
gene_score = zeros(300);
print gene_score.shape
for i in range(300):
    gene_score[i]=sum(weidian_s[gene.iloc[i,:].as_matrix()])

(300,)

In [9]:
indices = np.argsort(gene_score)[::-1]
print indices.T

[ 54 293 292 202 166 123 274 271 176  92 162 237  87  78  48 180 127 188
  79 109 268 264 263 282 126 215 149 112  93  66 236 146 173  14  77 121
 205  34 235   9 147  40 207 161 295 260 246 203 115  97 253 206 182 138
  57 220  42 199  33  58 117 240  12 110  63 174 128  84 217 152  39  83
  27  29  72 243   2 281 273 104 204 151 122 143 224 190 103 193  52  56
 201 171 178 248 229 102 257 226 156 223 287 262   7 198 221 213 291 186
 296 153 163 114  99 179   1 250 232 130 209 124 294 259  45 167  20 141
 120 267 219  21 106  61 144 159  35   3 105 279 158 283 172  26 241 218
 113 118 256  89 150  64 230 200  46  75 129 231 125 255 194  71 184  16
 258 192 280 290  47  28 140  17  36  86  73 142  19 185 228 208 155  98
 285  13   6 239  38 275 288  53  74  10 227 181 189 247 297 195 154  49
  32 137 233  70 148 214   8 196 277 225 177  31  90 145  22 216 168  55
 134 100 284  88  82 222 211 175   5  41  25   4  91  24 261 169 108 165
 278  76 242 244 183 132 270  81 212 251 252 238  23  30  68  51  94 119
  44 272 157 133 245 289 191 276  62 107 160  96 286 111  95  43  65  59
 101  80  11 269 249 131 210 299 116 234 139   0  18  60  37 170  85 136
 254  15 266 164  69  50 135 187 197 298 265  67]