# 注意，这个文件必须在所有的 process_xxx执行后执行

In [1]:
%pylab inline
%matplotlib inline
import pandas as pd
import numpy as np
import os

Populating the interactive namespace from numpy and matplotlib

In [2]:
store = pd.HDFStore('store.h5')
store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5
/data                   frame        (shape->[1000,9443])
/gene_info              frame        (shape->[300,9443])
/label                  frame        (shape->[1000,1])
/onehot_data            frame        (shape->[1000,28329])

In [3]:
weidian = store['data'].columns
nwd = len(weidian)

In [14]:
weidian

Index([u'rs3094315', u'rs3131972', u'rs3131969', u'rs1048488', u'rs12562034',
       u'rs12124819', u'rs4040617', u'rs2980300', u'rs4970383', u'rs4475691',
       ...
       u'rs10914386', u'rs6688664', u'rs6702129', u'rs7548805', u'rs7532525',
       u'rs7546536', u'rs4261154', u'rs4615888', u'rs10798854', u'rs7545865'],
      dtype='object', length=9443)

In [ ]:
genes=[];
for i in range(300):
    fname = './data/gene_info/gene_'+str(i+1)+'.dat';
    gene=np.zeros((nwd));
    with open(fname) as f:
        ls=f.readlines()
    for s in ls:
        res = np.where(weidian==s.strip())
        idx =None
        if len(res[0])==0:
            idx = -1
        else:
            idx =  res[0][0]
        if idx==None:
            print 'alert'
        gene[idx]=1
    genes.append(gene)

genes=pd.DataFrame(genes)
print genes.shape
genes.head()

In [5]:
store = pd.HDFStore('store.h5')
store['gene_info']=genes
store.flush(fsync=True)
print store
store.close()

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5
/data                   frame        (shape->[1000,9443])
/gene_info              frame        (shape->[300,9443])
/label                  frame        (shape->[1000,1])
/onehot_data            frame        (shape->[1000,28329])

In [6]:
store=pd.HDFStore('./store.h5')

In [7]:
store.items

<bound method HDFStore.items of <class 'pandas.io.pytables.HDFStore'>
File path: ./store.h5
/data                   frame        (shape->[1000,9443])
/gene_info              frame        (shape->[300,9443])
/label                  frame        (shape->[1000,1])
/onehot_data            frame        (shape->[1000,28329])>

In [8]:
store['onehot_data'].head()

,0,1,2,3,4,5,6,7,8,9,...,28319,28320,28321,28322,28323,28324,28325,28326,28327,28328
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [9]:
store['data'].head()

,rs3094315,rs3131972,rs3131969,rs1048488,rs12562034,rs12124819,rs4040617,rs2980300,rs4970383,rs4475691,...,rs10914386,rs6688664,rs6702129,rs7548805,rs7532525,rs7546536,rs4261154,rs4615888,rs10798854,rs7545865
0,5,9,10,6,0,0,0,10,15,10,...,8,8,0,5,5,10,6,7,0,12
1,6,9,9,6,15,3,0,10,15,10,...,8,10,0,5,5,9,5,7,3,15
2,5,5,10,10,15,3,15,10,15,10,...,8,10,0,5,5,10,5,7,3,12
3,5,10,10,6,12,0,3,9,13,9,...,8,10,0,5,6,5,5,5,3,15
4,6,9,9,5,12,0,3,10,5,10,...,8,8,0,10,6,9,5,7,3,12

In [10]:
store['gene_info'].head()

,0,1,2,3,4,5,6,7,8,9,...,9433,9434,9435,9436,9437,9438,9439,9440,9441,9442
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
store['label'].head()

   0
0  0
1  0
2  0
3  0
4  0