# 注意，这个文件必须在所有的 process_xxx执行后执行

In [4]:
%pylab inline
%matplotlib inline
import pandas as pd
import numpy as np
import os

Populating the interactive namespace from numpy and matplotlib

In [5]:
store = pd.HDFStore('store.h5')

In [6]:
weidian = store['data'].columns
nwd = len(weidian)

In [7]:
weidian

Index([u'rs3094315', u'rs3131972', u'rs3131969', u'rs1048488', u'rs12562034',
       u'rs12124819', u'rs4040617', u'rs2980300', u'rs4970383', u'rs4475691',
       ...
       u'rs10914386', u'rs6688664', u'rs6702129', u'rs7548805', u'rs7532525',
       u'rs7546536', u'rs4261154', u'rs4615888', u'rs10798854', u'rs7545865'],
      dtype='object', length=9443)

In [8]:
genes=[];
for i in range(300):
    fname = './data/gene_info/gene_'+str(i+1)+'.dat';
    gene=np.zeros((nwd));
    with open(fname) as f:
        ls=f.readlines()
    for s in ls:
        res = np.where(weidian==s.strip())
        idx =None
        if len(res[0])==0:
            idx = -1
        else:
            idx =  res[0][0]
        if idx==None:
            print 'alert'
        gene[idx]=1
    genes.append(gene)

genes=pd.DataFrame(genes)
print genes.shape
genes.head()

(300, 9443)

,0,1,2,3,4,5,6,7,8,9,...,9433,9434,9435,9436,9437,9438,9439,9440,9441,9442
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
store = pd.HDFStore('store.h5')
store['gene_info']=genes
store.flush(fsync=True)
print store
store.close()

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5
/data                                  frame        (shape->[1000,9443])
/feature_score                         series       (shape->[28329])
/feature_score_for_0                   series       (shape->[28329])
/feature_score_for_1                   series       (shape->[28329])
/feature_score_for_2                   series       (shape->[28329])
/feature_score_for_3                   series       (shape->[28329])
/feature_score_for_4                   series       (shape->[28329])
/feature_score_for_5                   series       (shape->[28329])
/feature_score_for_6                   series       (shape->[28329])
/feature_score_rf                      series       (shape->[28329])
/feature_selected_data                 frame        (shape->[1000,3232])
/feature_selected_data_rf              frame        (shape->[1000,11717])
/gene_info                             frame        (shape->[300,9443])
/label                                 frame        (shape->[1000,1])
/multilabel                            frame        (shape->[1000,10])
/multilabel-feat-importance            frame        (shape->[10,28329])
/onehot_data                           frame        (shape->[1000,28329])
/selected_idx                          series       (shape->[28329])
/selected_idx_rf                       series       (shape->[28329])

In [10]:
store=pd.HDFStore('./store.h5')

In [11]:
store.items

<bound method HDFStore.items of <class 'pandas.io.pytables.HDFStore'>
File path: ./store.h5
/data                                  frame        (shape->[1000,9443])
/feature_score                         series       (shape->[28329])
/feature_score_for_0                   series       (shape->[28329])
/feature_score_for_1                   series       (shape->[28329])
/feature_score_for_2                   series       (shape->[28329])
/feature_score_for_3                   series       (shape->[28329])
/feature_score_for_4                   series       (shape->[28329])
/feature_score_for_5                   series       (shape->[28329])
/feature_score_for_6                   series       (shape->[28329])
/feature_score_rf                      series       (shape->[28329])
/feature_selected_data                 frame        (shape->[1000,3232])
/feature_selected_data_rf              frame        (shape->[1000,11717])
/gene_info                             frame        (shape->[300,9443])
/label                                 frame        (shape->[1000,1])
/multilabel                            frame        (shape->[1000,10])
/multilabel-feat-importance            frame        (shape->[10,28329])
/onehot_data                           frame        (shape->[1000,28329])
/selected_idx                          series       (shape->[28329])
/selected_idx_rf                       series       (shape->[28329])     >

In [12]:
store['onehot_data'].head()

,0,1,2,3,4,5,6,7,8,9,...,28319,28320,28321,28322,28323,28324,28325,28326,28327,28328
0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [13]:
store['data'].head()

,rs3094315,rs3131972,rs3131969,rs1048488,rs12562034,rs12124819,rs4040617,rs2980300,rs4970383,rs4475691,...,rs10914386,rs6688664,rs6702129,rs7548805,rs7532525,rs7546536,rs4261154,rs4615888,rs10798854,rs7545865
0,5,9,10,6,0,0,0,10,15,10,...,8,8,0,5,5,10,6,7,0,12
1,6,9,9,6,15,3,0,10,15,10,...,8,10,0,5,5,9,5,7,3,15
2,5,5,10,10,15,3,15,10,15,10,...,8,10,0,5,5,10,5,7,3,12
3,5,10,10,6,12,0,3,9,13,9,...,8,10,0,5,6,5,5,5,3,15
4,6,9,9,5,12,0,3,10,5,10,...,8,8,0,10,6,9,5,7,3,12

In [14]:
store['gene_info'].head()

,0,1,2,3,4,5,6,7,8,9,...,9433,9434,9435,9436,9437,9438,9439,9440,9441,9442
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
store['label'].head()

   0
0  0
1  0
2  0
3  0
4  0

In [58]:
type(genes)

pandas.core.frame.DataFrame

In [79]:
num_genes=[]
for i in range(300):
    k=0
    for j in range(9443):
        if genes[j][i]==1:
            k+=1
    num_genes.append(k)
print "done!"

done!

In [80]:
print num_genes

[7, 38, 44, 34, 16, 17, 26, 40, 21, 52, 25, 9, 47, 26, 54, 5, 30, 29, 7, 28, 36, 35, 20, 13, 16, 17, 34, 44, 29, 44, 12, 20, 23, 47, 53, 34, 28, 6, 26, 45, 52, 17, 48, 10, 12, 37, 32, 29, 58, 23, 4, 12, 43, 25, 60, 20, 42, 48, 47, 10, 7, 34, 11, 47, 32, 10, 55, 3, 12, 4, 21, 30, 44, 28, 25, 32, 15, 54, 58, 56, 9, 14, 18, 45, 45, 6, 28, 58, 19, 33, 20, 16, 59, 55, 12, 10, 11, 49, 27, 38, 19, 10, 41, 43, 44, 34, 35, 11, 16, 56, 47, 10, 55, 33, 38, 50, 8, 47, 33, 12, 35, 53, 43, 60, 37, 31, 56, 57, 46, 32, 37, 9, 14, 11, 20, 4, 6, 21, 49, 7, 29, 36, 28, 43, 34, 20, 54, 52, 21, 55, 33, 44, 45, 39, 23, 27, 41, 12, 34, 34, 11, 52, 58, 39, 4, 15, 60, 36, 20, 16, 6, 42, 34, 54, 46, 18, 59, 21, 42, 38, 57, 24, 49, 14, 30, 28, 39, 3, 56, 24, 43, 11, 29, 43, 31, 23, 21, 3, 40, 48, 32, 42, 60, 50, 44, 53, 49, 52, 27, 37, 9, 18, 13, 39, 21, 55, 20, 45, 33, 35, 48, 40, 18, 41, 43, 21, 41, 25, 27, 41, 32, 32, 38, 21, 8, 53, 55, 58, 13, 26, 47, 34, 15, 44, 14, 11, 51, 24, 41, 9, 38, 13, 13, 49, 6, 31, 33, 41, 30, 37, 52, 16, 41, 56, 56, 3, 4, 35, 56, 9, 14, 59, 12, 44, 59, 26, 11, 21, 15, 34, 29, 44, 56, 34, 19, 27, 11, 41, 26, 11, 29, 39, 60, 60, 37, 52, 39, 23, 3, 9]

In [86]:
count_genes=[]
index1=0
index2=9
for i in range(10):
    k=0
    for j in range(300):
        if num_genes[j]>=index1 and num_genes[j]<=index2:
            k+=1
    count_genes.append(k)
    index1+=10
    index2+=10
print "done!"

done!

In [87]:
print count_genes

[29, 54, 54, 58, 56, 43, 6, 0, 0, 0]