In [1]:
%pylab inline
%matplotlib inline
import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [4]:
multlabel = pd.read_table("data/multi_phenos.txt",sep="\\s+",header=None);

In [5]:
multlabel.describe()

,0,1,2,3,4,5,6,7,8,9
count,1000.00000,1000.00000,1000.00000,1000.00000,1000.00000,1000.00000,1000.00000,1000.00000,1000.00000,1000.00000
mean,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000
std,0.50025,0.50025,0.50025,0.50025,0.50025,0.50025,0.50025,0.50025,0.50025,0.50025
min,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
25%,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
50%,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000,0.50000
75%,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000
max,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000